.chart-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 0;
  }
  
  .chart-bar__inner {
    height: 100%;
    width: 100%;
    border: 1px solid #313131;
    border-radius: 12px;
    background-color: #332EB9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .chart-bar__fill {
    background-color: #fff;
    width: 100%;
    transition: all 0.3s ease-out;
    box-shadow:  inset 0 2px 8px 1px #0000004b;
  }
  
  .chart-bar__label {
    font-weight: bold;
    font-size: 0.75rem;
    text-align: center;
    color: #324877;
    margin-top: 5px;
    margin-bottom: 0;
  }