.card {
    border-radius: 30px;
    overflow: hidden;
    width: 50rem;
    background-image: radial-gradient(circle at center, rgb(44, 31, 116) -100%, rgb(85, 60, 228));
    margin: auto;
    margin-bottom: 2rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25), inset 0px 5px 3px 3px #1d2036e8;

} 
.card.expense-item {
    background-color: none;
    margin: 0;
    box-shadow: none;
}